.nav {
  display: flex;
  gap: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.link {
  margin-left: 15px;
  font-size: larger;
  font-weight: bold;
  list-style: none;
  color: rgb(1, 1, 10);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.isActive {
  color: rgb(223, 7, 47);
}
